body{
	font-family: 'SaesGrotesk';
}

.text{
	font-family: 'SaesGrotesk';
	margin-bottom: 0px;
	&.text--bold{
		font-family: 'SaesGrotesk-Bold';
	}
	&.text--black{
		font-family: 'SaesGrotesk-Black';
	}
	&.text--extrabold{
		font-family: 'SaesGrotesk-ExtraBold';
	}
	&.text--small12{
		font-size: 12px;
		line-height: 15.6px;
	}
	&.text--small13{
		font-size: 13px;
		line-height: 15.6px;
	}
	&.text--small14{
		font-size: 14px;
		line-height: 17px;
	}
	&.text--small15{
		font-size: 15px;
		line-height: 20px;
	}
	&.text--regular17{
		font-size: 17px;
		line-height: 20px;
	}
	&.text--regular16{
		font-size: 16px;
		line-height: 26px;
	}
	&.text--regular20{
		font-size: 20px;
		line-height: 24px;
	}
	&.text--big30{
		font-size: 30px;
		line-height: 36px;
	}
	&.text--big100{
		font-size: 100px;
		line-height: 120px;
	}
	&.text--list{
		font-size: 18px;
		line-height: 34px;
		list-style: none;
	}
	&.text--blogtitle{
		font-size: 32px;
		line-height: 38px;
		font-weight: 400;
		&.text--blogtitle--big{
			font-size: 51px;
			line-height: 61px;
			@media only screen and (max-width: 991px) {
				font-size: 32px;
				line-height: 48px;
			}
		}
	}
	&.text--blogauthor{
		font-size: 18px;
		line-height: 21px;
		font-weight: 400;
		&.text--blogauthor--big{
			font-size: 20px;
			line-height: 24px;
			@media only screen and (max-width: 991px) {
				font-size: 18px;
				line-height: 21px;
			}
		}
	}
	a{
		text-decoration: none;
		&:hover{
			color: #007bff;
		}
	}
}