body{
	font-family: 'ArminGrotesk';
}

.text{
	font-family: 'ArminGrotesk';
	margin-bottom: 0px;
	&.text--bold, .text--bold{
		font-family: 'ArminGrotesk-SemiBold';
	}
	&.text--black, .text--black{
		font-family: 'ArminGrotesk-Black';
	}
	&.text--extrabold, .text--extrabold{
		font-family: 'ArminGrotesk-UltraBold';
	}
	&.text--small12{
		font-size: 12px;
		line-height: 15.6px;
	}
	&.text--small13{
		font-size: 13px;
		line-height: 15.6px;
	}
	&.text--small14{
		font-size: 14px;
		line-height: 17px;
	}
	&.text--small15{
		font-size: 15px;
		line-height: 20px;
	}
	&.text--regular16{
		font-size: 16px;
		line-height: 26px;
	}
	&.text--regular17{
		font-size: 17px;
		line-height: 20px;
	}
	&.text--regular20{
		font-size: 20px;
		line-height: 24px;
	}
	&.text--big30{
		font-size: 30px;
		line-height: 36px;
	}
	&.text--big40{
		font-size: 40px;
		line-height: 60px;
	}
	&.text--big50{
		font-size: 50px;
		line-height: 70px;
	}
	&.text--big100{
		font-size: 100px;
		line-height: 120px;
	}
	&.text--list{
		font-size: 18px;
		line-height: 34px;
		list-style: none;
	}
	&.text--blogtitle{
		font-size: 32px;
		line-height: 38px;
		font-family: "ArminGrotesk-SemiBold";
		&.text--blogtitle--big{
			font-size: 51px;
			line-height: 61px;
			@media only screen and (max-width: 991px) {
				font-size: 32px;
				line-height: 48px;
			}
		}
	}
	&.text--blogauthor{
		font-size: 18px;
		line-height: 21px;
		font-weight: 400;
		&.text--blogauthor--big{
			font-size: 20px;
			line-height: 24px;
			@media only screen and (max-width: 991px) {
				font-size: 18px;
				line-height: 21px;
			}
		}
	}
	a{
		text-decoration: none;
		color: #ff58ad;
		&:hover{
			text-decoration: underline;
			color: #ff58ad;
		}
	}
}