// BOOTSTRAP Variables
$primary: #5B5FFF !default;
$enable-rounded: false;

// Grid
$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);

$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1400px);

// Type
$headings-font-weight: 700;

// Range slider
$custom-range-track-height: .1rem;
$custom-range-thumb-width: .7rem;
$custom-range-thumb-border-radius: 1rem;