/* ====================================================== */
/* Tester Required styles */

.tester{
    position: relative;
    .tester__type{
        font-family: 'SaesGrotesk-Bold';
        margin-bottom: 0;
        font-size: 30px;
        line-height: 36px;
    }
    .tester__menu{

    }
    .tester__sale{
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #000;
        span{
            position: absolute;
            text-align: center;
            font-family: 'SaesGrotesk-ExtraBold';
            font-size: 28px;
            line-height: 1;
            color: #fff;
            top: 50%;
            left: 50%;
            font-weight: 700;
            transform: translate(-50%, -20%);
        }
    }
    textarea{
        width: 100%;
        height: 300px;
        display: block;
        font-size: 40px;
        line-height: 1.08;
        border: none;
        background-color: rgba(0,0,0,0);
        overflow: hidden;
        resize: none;
    }   
    .tester-switch{
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 30px;
        height: 30px;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
    }
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.sliderrange {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 1px; /* Specified height */
  background: #000; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.sliderrange:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.sliderrange::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  border: none;
  background: #000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.sliderrange::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  border: none;
  background: #000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.boxWrapper.hidden {
    &.hidden {
        opacity: 0;
        outline: none;
    }
    
}

.testEl {
    cursor: text;
    box-sizing: content-box;
    /*white-space: pre-wrap;*/
    overflow-wrap: break-word;
    width: 100%;
    outline: none !important;
    font-optical-sizing: none !important;
    overflow: visible;
    font-feature-settings: "calt" 0;
    hyphens: auto;
    
    span {
        white-space: nowrap;
        overflow-wrap: break-word;
    }

    &.rtl {
        direction: rtl;
        font-feature-settings: "calt" 1;
    }
}


/* ====================================================== */
/* Tester  styles */

.boxWrapper {
    transition: opacity 750ms;

    .testEl {
        font-size: 10vw;
        text-align: center;
        hyphens: auto;
        line-height: 1;
        margin-bottom: 2rem;
        margin-top: 2rem;

        &::selection {
            background: aliceblue;
        }
        
    }

}

.loadingLabel {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    content: "loading";
    letter-spacing: 0.5rem;
    position: absolute;
    color: gray;
    z-index: 999;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: opacityPulse 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;

    &.hidden {
        display: none;
    }
}

@keyframes opacityPulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}  