.stage{
	min-height: 100px;
	margin-bottom: 50px;
	background: rgb(255,255,255);
	position: relative;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dedb00+0,dedb00+90,ffffff+100 */
	background: #dedb00; /* Old browsers */
	background: -moz-linear-gradient(top,  #dedb00 0%, #dedb00 90%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #dedb00 0%,#dedb00 90%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #dedb00 0%,#dedb00 90%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedb00', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	#sandwich{
		display: none;
		@media only screen and (max-width: 991px) {
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 25px 25px;
			width: 30px;
			height: 30px;
			margin-left: 20px;
			background-image: url('../images/ico-menu.png');
			float: right;
		}
	}
	&.stage--big{
		height: 100vh;
		min-height: 800px;
		@media only screen and (max-width: 991px) {
			height: auto;
		}
	}
	.stage__title{
		font-weight: 700;
		font-size: 17px;
		line-height: 30px;
		display: inline-block;
	}
	.stage__logo{
		display: inline-block;
		svg{
			height: 30px;
		}
		@media only screen and (max-width: 991px) {
			margin-bottom: 15px;
		}
	}
	.stage__marquee{
		width: 100%;
		display: block;
		position: absolute;
		bottom: 50px;
		left: 0;
		.marquee{
			box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.10);
		}
		@media only screen and (max-width: 768px) {
			position: relative;
			bottom: 0;
		}
	}
	.menu{
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 30px;
		@media only screen and (max-width: 991px) {
			margin-bottom: 10px;
		}
		.menu__table{
			display: table;
			width: 100%;
			@media only screen and (max-width: 991px) {
				display: block;
				width: 100%;
				display: none;
			}
			.menu__tr{
				display: table-row;
				@media only screen and (max-width: 991px) {
					display: block;
				}
				.menu__td{
					display: table-cell;
					vertical-align: middle;
					width: 15%;
					text-align: center;
					a{
						font-size: 14px;
					}
					@media only screen and (max-width: 991px) {
						display: block;
						width: 100%;
						text-align: left;
						border-bottom: 1px solid #fff;
						a{
							display: block;
							background: #009540;
							color: #fff;
							padding: 10px 5px;
						}
					}
				}
			}
		}
	}
	.tester{
		textarea{
			padding: 5px 30px 20px;
			font-size: 120px;
			height: 400px;
			@media only screen and (max-width: 767px) {
				padding: 5px 0px 20px;
			}
		}
	}
}