.button{
	display: inline-block;
	border-radius: 20px;
	border: 1px solid #000;
	text-decoration: none;
	text-align: center;
	padding: 2px 30px;
	font-size: 18px;
	line-height: 21px;
	&.button--alpha{
		background-color: rgba(0,0,0,0);
	}
	&.button--left{
		text-align: left;
	}
	&.button--noborder{
		border: none;
	}
	&.button--pink{
		background-color: #e6abc9;
		border: none;
	}
	&.button--black{
		background-color: #000;
		color: #fff;
	}
	&.button--upper{
		text-transform: uppercase;
	}
	&.button--big{
		padding: 8px 60px;
		border-radius: 43px;
		font-size: 32px;
		line-height: 39px;	
	}
	&.button--full{
		width: 100%;
	}
	&.button--circle{
		padding: 2px;
		width: 27px;
		text-align: center;
	}
}