.categories{
	ul{
		padding-left: 0;
		margin-bottom: 20px;
		font-size: 0;
		li{
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}