.slider{

}

.home--slider{
	margin-bottom: 100px;
	.slider{
		&:nth-child(2n+1){
			.col-md-12{
				text-align: right;
			}
		}
	}
	.home--slider--banner{
		padding: 40px 20px;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		&:after{
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			z-index: 2;
			background-color: rgba(0,0,0,0);
			-ms-transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			-o-transition: .5s;
			transition: .5s;
		}
		.col-md-12{
			padding-top: 200px;
			z-index: 3;
			.text{
				color: #fff;
				opacity: 0;
			}
			.button{
				border: none;
			}
		}
		&:hover{
			&:after{
				background-color: rgba(0,0,0,0.8);
			}
			.col-md-12{
				.text{
					opacity: 1;
				}
			}
		}
	}
}