.glyph{
	&.glyph--upper{
		text-transform: uppercase;
	}
	.glyph__table{
		display: table;
		width: 100%;
		.glyph__tr{
			display: table-row;
			.glyph__td{
				display: table-cell;
				cursor: pointer;
				text-align: center;
				width: 10%;
				border-radius: 10px;
				-ms-transition: .6s;
				-moz-transition: .6s;
				-webkit-transition: .6s;
				-o-transition: .6s;
				transition: .6s;
				padding: 20px 10px;
				font-size: 17px;
				line-height: 20px;
				&:hover{
					background-color: #007BFF;
				}
			}
		}
	}
	@media only screen and (max-width: 991px) {
		overflow: scroll;
		.glyph__table{
			width: 1000px;
		}
	}
}