.c-fontsList {
    
    &__familyItem {
        padding-top: 1rem;

        border-bottom: 4px solid rgba(0, 0, 0, .1);

        .familyItem__info {
            .info__familyName {
                font-weight: 700;
            }
        }

        .familyItem__link {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: $primary;
            }
        }

        .familyItem__link {
        
            // Smaller than...
            @include media-breakpoint-down(xxl) {
                font-size: 13.75px;
                // background-color: red;
            }

            @include media-breakpoint-down(xl) {
                font-size: 11.55px;
                // background-color: lightblue;
            }

            @include media-breakpoint-down(lg) {
                font-size: 8.6px;
                // background-color: lightcoral;
            }

            @include media-breakpoint-down(md) {
                font-size: 6.36px;
                // background-color: lightskyblue;
            }

            @include media-breakpoint-down(sm) {
                font-size: 5px;
                // background-color: lightgreen;
            }
        

            .familyItem__sample {
                text-align: center;
                font-size: 10em;
                padding-top: .4em;
                padding-bottom: .4em;
                line-height: 1;
                margin-bottom: 0px;
                font-style: normal !important;
                font-weight: normal !important;
            }
        }
    }

}