.blog{
	.blog__post{
		display: block;
		text-decoration: none;
		margin-bottom: 45px;
		img{
			width: 100%;
		}
		h3, h4, h5{
			margin-bottom: 20px;
		}
		h3, h4{
			a{
				color: inherit;
				display: inline-block;
				&:hover{
					color: #007bff;
				}
			}
		}
		h5{
			color: #c8c8c8;
		}
		&.blog__post--big{
			display: flex;
			.col-md-4{
				align-self: flex-end;
			}
			@media only screen and (max-width: 768px) {
				display: block;
				img{
					margin-bottom: 30px;
				}
				.col-md-4, .col-md-8{
					width: 100%;
				}
			}
		}
		&.blog__post--small{
			img{
				margin-bottom: 30px;
			}
		}
	}
}