.logo.is-animetion {
  display: inline-block;
}

.logo.is-animetion span {
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
  font-size: 44px;
  line-height: 52px;
  font-family: 'SaesGrotesk-Bold';
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 5px;
}

.logo.is-animetion {
  span:nth-of-type(5n+1){ animation-delay: 0.0s; }
  span:nth-of-type(5n+2){ animation-delay: 0.2s; }
  span:nth-of-type(5n+3){ animation-delay: 0.4s; }
  span:nth-of-type(5n+4){ animation-delay: 0.6s; }
  span:nth-of-type(5n+5){ animation-delay: 0.8s; }
}

@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.6em);
  }
  100%{
    transform: translateY(0em);
  }
}