/* ====================================================== */
/* Tester Required styles */

.tester{
    position: relative;
    .tester__type{
        font-weight: 700;
        margin-bottom: 0;
    }
    .tester__menu{

    }
    .tester__sale{
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #000;
        span{
            position: absolute;
            text-align: center;
            color: #fff;
            top: 50%;
            left: 50%;
            font-weight: 700;
            transform: translate(-50%, 0);
        }
    }
    textarea{
        width: 100%;
        height: 300px;
        display: block;
        font-size: 40px;
        line-height: 1.08;
        border: none;
        background-color: rgba(0,0,0,0);
        overflow: hidden;
        resize: none;
    }   
}

.boxWrapper.hidden {
    &.hidden {
        opacity: 0;
        outline: none;
    }
    
}

.testEl {
    cursor: text;
    box-sizing: content-box;
    /*white-space: pre-wrap;*/
    overflow-wrap: break-word;
    width: 100%;
    outline: none !important;
    font-optical-sizing: none !important;
    overflow: visible;
    font-feature-settings: "calt" 0;
    hyphens: auto;
    
    span {
        white-space: nowrap;
        overflow-wrap: break-word;
    }

    &.rtl {
        direction: rtl;
        font-feature-settings: "calt" 1;
    }
}


/* ====================================================== */
/* Tester  styles */

.boxWrapper {
    transition: opacity 750ms;

    .testEl {
        font-size: 10vw;
        text-align: center;
        hyphens: auto;
        line-height: 1;
        margin-bottom: 2rem;
        margin-top: 2rem;

        &::selection {
            background: aliceblue;
        }
        
    }

}


.loadingLabel {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    content: "loading";
    letter-spacing: 0.5rem;
    position: absolute;
    color: gray;
    z-index: 999;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: opacityPulse 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;

    &.hidden {
        display: none;
    }
}

@keyframes opacityPulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}  